Repository up42/up42-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^up42/_version\.txt$|.github/CODEOWNERS
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-yaml
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: ['--line-length', '80']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black",  "--line-length", "120",]
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=120"]
        exclude: tests/conftest.py # ignore pytest fixtures
  - repo: local
    hooks:
      - id: mypy
        files: \.py$
        name: mypy
        entry: mypy
        language: python
  - repo: local
    hooks:
      - id: pylint
        files: up42/catalog.py|tests/test_catalog.py
        name: pylint
        entry: pylint
        language: system
        types: [ python ]

fix line too long for catalog.py
  up42/catalog.py
Due: mypy, pylint

fix line too long for test_catalog.py
  tests/test_catalog.py
  up42/catalog.py
Due: mypy, pylint

set max length to 80
  .pre-commit-config.yaml
  tests/conftest.py
  tests/fixtures/fixtures_auth.py
  tests/fixtures/fixtures_jobtask.py
  tests/fixtures/fixtures_tasking.py
  tests/test_asset.py
  tests/test_auth.py
  tests/test_catalog.py
  tests/test_estimation.py
  tests/test_main.py
  tests/test_order.py
  up42/asset.py
  up42/catalog.py
  up42/job.py
  up42/storage.py
Due: mypy, pylint

Address comments
  up42/http/http_adapter.py
  up42/http/oauth.py
Due: mypy

Resilient http adapter and project authentication (#548)
  CHANGELOG.md
  pyproject.toml
  tests/http/__init__.py
  tests/http/test_http_adapter.py
  tests/http/test_oauth.py
  up42/http/__init__.py
  up42/http/config.py
  up42/http/http_adapter.py
  up42/http/oauth.py
Due: mypy

update version
  CHANGELOG.md
  pyproject.toml
Due: none

Porting session code with simple coverage
  tests/http/test_session.py
  up42/http/session.py
Due: mypy

Version and changelog
  CHANGELOG.md
  pyproject.toml
Due: none

Clean up
  CHANGELOG.md
Due: none

Missing type hint
  up42/http/session.py
Due: mypy

use pylintrc to specify files; fix fixtures_catalog.py
  .pre-commit-config.yaml
  pylintrc
  tests/fixtures/fixtures_catalog.py
Due: mypy

Address comments
  CHANGELOG.md
  tests/http/test_session.py
Due: mypy

fix fixtures_tasking.py
  CHANGELOG.md
  pylintrc
  pyproject.toml
  tests/fixtures/fixtures_tasking.py
Due: mypy

fix test_tasking.py
  tests/test_tasking.py
Due: mypy

fix tasking.py
  up42/tasking.py
Due: mypy

remaining fixes
  up42/tasking.py
Due: mypy

fix fixtures_order.py
  CHANGELOG.md
  pylintrc
  pyproject.toml
  tests/conftest.py
  tests/fixtures/fixtures_order.py
Due: mypy

fix test_order.py
  tests/test_order.py
Due: mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

AT-4866 Resilient and authenticated session (#550)
  CHANGELOG.md
  pyproject.toml
  tests/http/test_session.py
  up42/http/session.py
Due: mypy

fix order.py
  up42/order.py
Due: mypy

address comments
  tests/fixtures/fixtures_job.py
  tests/fixtures/fixtures_jobtask.py
  tests/fixtures/fixtures_project.py
  tests/fixtures/fixtures_tasking.py
  tests/fixtures/fixtures_workflow.py
  tests/test_catalog.py
  tests/test_job.py
  tests/test_jobcollection.py
  tests/test_project.py
  tests/test_storage.py
  tests/test_workflow.py
  up42/catalog.py
  up42/job.py
  up42/tasking.py
  up42/viztools.py
  up42/workflow.py
Due: mypy, pylint

bump version
  pyproject.toml
  up42/http/session.py
Due: mypy

fix test_session.py
  tests/http/test_session.py
Due: mypy

update poetry.lock file
  poetry.lock
Due: none

fix webhooks: initial commit
  CHANGELOG.md
  pylintrc
  pyproject.toml
  tests/fixtures/fixtures_webhook.py
  tests/test_webhooks.py
  up42/webhooks.py
Due: mypy

PR suggestions
  tests/test_catalog.py
  up42/catalog.py
Due: mypy, pylint

remove parenthesis
  tests/test_catalog.py
Due: mypy, pylint

update changelog
  CHANGELOG.md
Due: none

[AT-4082] Configure pylint for catalog (#549)
  .pre-commit-config.yaml
  CHANGELOG.md
  poetry.lock
  pylintrc
  pyproject.toml
  tests/fixtures/fixtures_asset.py
  tests/fixtures/fixtures_catalog.py
  tests/fixtures/fixtures_globals.py
  tests/fixtures/fixtures_job.py
  tests/fixtures/fixtures_jobtask.py
  tests/fixtures/fixtures_order.py
  tests/fixtures/fixtures_project.py
  tests/fixtures/fixtures_tasking.py
  tests/fixtures/fixtures_workflow.py
  tests/http/test_session.py
  tests/test_auth.py
  tests/test_catalog.py
  tests/test_job.py
  tests/test_jobcollection.py
  tests/test_project.py
  tests/test_storage.py
  tests/test_workflow.py
  up42/asset.py
  up42/asset_searcher.py
  up42/auth.py
  up42/catalog.py
  up42/estimation.py
  up42/http/session.py
  up42/initialization.py
  up42/job.py
  up42/jobtask.py
  up42/main.py
  up42/order.py
  up42/project.py
  up42/storage.py
  up42/tasking.py
  up42/viztools.py
  up42/webhooks.py
  up42/workflow.py
Due: mypy, pylint

remove redundant parenthesis
  tests/test_catalog.py
Due: mypy, pylint

Generalize token retrieval to cover account token case
  tests/http/test_oauth.py
  up42/http/config.py
  up42/http/oauth.py
  up42/http/session.py
Due: mypy

bump version
  CHANGELOG.md
  pyproject.toml
Due: none

fix auth import
  up42/order.py
Due: mypy

Version and CHANGELOG.md
  CHANGELOG.md
  pyproject.toml
Due: none

PR comments
  pylintrc
  tests/test_tasking.py
  up42/tasking.py
Due: mypy

[AT-4081] Configure pylint for tasking (#551)
  CHANGELOG.md
  pylintrc
  tests/fixtures/fixtures_tasking.py
  tests/test_tasking.py
  up42/tasking.py
Due: mypy

DOC-1017: Separate public and private SDK changelogs
  CHANGELOG-internal.md
  README.md
Due: none
