Repository up42/up42-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^up42/_version\.txt$|.github/CODEOWNERS
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-yaml
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: ['--line-length', '80']
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black",  "--line-length", "120",]
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=120"]
        exclude: tests/conftest.py # ignore pytest fixtures
  - repo: local
    hooks:
      - id: mypy
        files: \.py$
        name: mypy
        entry: mypy
        language: python
  - repo: local
    hooks:
      - id: pylint
        files: up42/catalog.py|tests/test_catalog.py
        name: pylint
        entry: pylint
        language: system
        types: [ python ]

Detect retriever based on supplied settings
  CHANGELOG.md
  pyproject.toml
  tests/http/test_oauth.py
  up42/http/oauth.py
Due: mypy

set verbose to True
  .circleci/config.yml
  sonar-project.properties
Due: none

echo and list files
  .circleci/config.yml
  sonar-project.properties
Due: none

wip
  .circleci/config.yml
Due: none

temporarily disable 3.12
  .circleci/config.yml
Due: none

conditionals
  .circleci/config.yml
Due: none

revert the conditional
  .circleci/config.yml
Due: none

bring back python 3.12
  .circleci/config.yml
Due: none

test with larger machine size
  .circleci/config.yml
Due: none

Address comments
  tests/http/test_oauth.py
  up42/http/oauth.py
Due: mypy

Apply hooks
  up42/http/oauth.py
Due: mypy

[AT-4915] Settings detection based on credentials (#570)
  CHANGELOG.md
  pyproject.toml
  tests/http/test_oauth.py
  up42/http/config.py
  up42/http/oauth.py
Due: mypy

Typo
  CHANGELOG.md
Due: none

[AT-4915] Detect token retriever based on supplied settings (#571)
  CHANGELOG.md
  pyproject.toml
  tests/http/test_oauth.py
  up42/http/oauth.py
Due: mypy

bring back resource class to large
  .circleci/config.yml
Due: none

Base client implementation
  tests/http/test_client.py
  up42/http/client.py
Due: mypy

Simplify client test parameterization
  tests/http/test_client.py
Due: mypy

Finalize implementation
  tests/http/test_client.py
  tests/http/test_oauth.py
  up42/http/client.py
  up42/http/oauth.py
Due: mypy

Version and CHANGELOG.md
  CHANGELOG.md
  pyproject.toml
Due: none

increase timeout
  .circleci/config.yml
Due: none

remove comment
  .circleci/config.yml
Due: none

replace python 3.8 with 3.9 in notebooks
  .circleci/config.yml
  docs/installation.md
  docs/notebooks/catalog-example.ipynb
  docs/notebooks/order-assets-example.ipynb
  docs/notebooks/stac-example.ipynb
  docs/notebooks/storage-assets-example.ipynb
  docs/notebooks/tasking-example.ipynb
Due: none

Address comments
  up42/http/client.py
Due: mypy

[AT-4915] Http client (#565)
  CHANGELOG.md
  pyproject.toml
  tests/http/test_client.py
  tests/http/test_oauth.py
  up42/http/client.py
  up42/http/oauth.py
Due: mypy

Switch to http client in auth.py
  tests/http/test_oauth.py
  tests/test_auth.py
  up42/auth.py
  up42/http/client.py
  up42/http/config.py
  up42/http/oauth.py
  up42/stac_client.py
Due: mypy

Apply hooks
  tests/test_auth.py
  up42/auth.py
  up42/http/client.py
  up42/http/oauth.py
Due: mypy

Clean up of auth.py
  up42/auth.py
Due: mypy

Further clean up of auth.py
  tests/fixtures/fixtures_auth.py
  up42/auth.py
Due: mypy

Further clean up of auth.py
  up42/auth.py
Due: mypy

Mark packages to drop
  pyproject.toml
Due: none

PR comments round 1
  .pre-commit-config.yaml
  docs/macros.py
  sonar-project.properties
  tests/fixtures/fixtures_tasking.py
  tests/fixtures/fixtures_workflow.py
  tests/http/test_oauth.py
  tests/test_auth.py
  tests/test_host.py
  tests/test_storage.py
  up42/asset_searcher.py
  up42/auth.py
  up42/host.py
  up42/job.py
  up42/order.py
  up42/project.py
  up42/storage.py
  up42/tasking.py
  up42/workflow.py
Due: mypy

fix test
  tests/http/test_session.py
Due: mypy

PR comments round 2
  CHANGELOG.md
  pylintrc
  up42/asset_searcher.py
  up42/catalog.py
  up42/order.py
  up42/storage.py
  up42/tasking.py
  up42/webhooks.py
Due: mypy, pylint

make sonar happy
  up42/catalog.py
Due: mypy, pylint

playing around with test workflow
  .circleci/config.yml
Due: none

rename jobs
  .circleci/config.yml
Due: none

fix typo
  .circleci/config.yml
Due: none

update sonar python version
  sonar-project.properties
Due: none

[AT-2918] run test pipeline on different python versions (#568)
  .circleci/config.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/installation.md
  docs/notebooks/catalog-example.ipynb
  docs/notebooks/order-assets-example.ipynb
  docs/notebooks/stac-example.ipynb
  docs/notebooks/storage-assets-example.ipynb
  docs/notebooks/tasking-example.ipynb
  poetry.lock
  pyproject.toml
  sonar-project.properties
  tests/http/test_session.py
  up42/asset_searcher.py
  up42/catalog.py
  up42/order.py
  up42/storage.py
  up42/tasking.py
  up42/webhooks.py
Due: mypy, pylint
