Repository up42/up42-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: python

pylint:
  name: pylint
  entry: pylint
  language: system

PR suggestions
  CHANGELOG.md
  pylintrc
  tests/test_initialization.py
  tests/test_main.py
  up42/__init__.py
  up42/main.py
Due: mypy

Apply hooks
  CHANGELOG.md
Due: none

address PR comment
  pylintrc
  up42/__init__.py
Due: mypy

[AT-4086] Enable linting for asset modules (#564)
  CHANGELOG.md
  Makefile
  mypy.ini
  pylintrc
  pyproject.toml
  tests/fixtures/fixtures_asset.py
  tests/http/test_http_adapter.py
  tests/http/test_session.py
  tests/test_asset.py
  tests/test_e2e_catalog.py
  up42/asset.py
  up42/asset_searcher.py
  up42/http/http_adapter.py
Due: mypy

[AT-3970] enable pylint for initialization (#561)
  CHANGELOG.md
  pylintrc
  pyproject.toml
  tests/test_initialization.py
  tests/test_main.py
  up42/__init__.py
  up42/initialization.py
  up42/main.py
Due: mypy

[AT-4406] Drop auth.env (#533)
  CHANGELOG.md
  pyproject.toml
  tests/test_auth.py
  up42/auth.py
  up42/project.py
  up42/storage.py
Due: mypy

adding tests for each case
  tests/test_asset.py
  up42/asset.py
Due: mypy

Implementation
  tests/test_asset.py
  up42/asset.py
Due: mypy

Address comments
  tests/test_asset.py
  up42/asset.py
Due: mypy

initial commit: parametrize python version
  .circleci/config.yml
Due: none

remove upper limit on python version
  pyproject.toml
Due: none

remove support for python 3.8
  .circleci/config.yml
  pyproject.toml
Due: none

set upper limit to python 4
  pyproject.toml
Due: none

AT4927 [Hotfix] Asset update metadata (#560)
  CHANGELOG.md
  docs/reference/asset-reference.md
  tests/test_asset.py
  up42/asset.py
  up42/utils.py
Due: mypy

experiment with python 3.8
  pyproject.toml
Due: none

remove python 3.8
  pyproject.toml
Due: none

release prep
  CHANGELOG.md
  docs/theme_override_home/main.html
  pyproject.toml
Due: none

address PR comments
  CHANGELOG.md
  docs/theme_override_home/main.html
Due: none

Update docs/theme_override_home/main.html
  docs/theme_override_home/main.html
Due: none

release version 0.37.0 (#566)
  CHANGELOG.md
  docs/theme_override_home/main.html
  pyproject.toml
Due: none

experiment with nbconvert version
  pyproject.toml
Due: none

pin version that supports python 3.8
  .circleci/config.yml
  pyproject.toml
Due: none

update poetry files
  .circleci/config.yml
  poetry.lock
  pyproject.toml
Due: none

fix pyproject.toml
  pyproject.toml
Due: none

add exception to pylintrc
  poetry.lock
  pylintrc
  pyproject.toml
Due: none

update default python version
  .circleci/config.yml
Due: none

make flake8 happy
  docs/macros.py
  tests/fixtures/fixtures_tasking.py
  tests/fixtures/fixtures_workflow.py
  tests/http/test_oauth.py
  tests/test_auth.py
  tests/test_host.py
  tests/test_storage.py
  up42/asset_searcher.py
  up42/auth.py
  up42/host.py
  up42/job.py
  up42/order.py
  up42/project.py
  up42/storage.py
  up42/tasking.py
  up42/workflow.py
Due: mypy

drop live tests
  .circleci/config.yml
  README-dev.md
  docs/PULL_REQUEST_TEMPLATE.md
  pytest.ini
  tests/test_catalog.py
  tests/test_job.py
  tests/test_project.py
  tests/test_tasking.py
  tests/test_workflow.py
Due: mypy, pylint

bump resource class
  .circleci/config.yml
Due: none

further drop live fixtures
  tests/conftest.py
  tests/fixtures/fixtures_auth.py
  tests/fixtures/fixtures_catalog.py
  tests/fixtures/fixtures_job.py
  tests/fixtures/fixtures_jobcollection.py
  tests/fixtures/fixtures_jobtask.py
  tests/fixtures/fixtures_project.py
  tests/fixtures/fixtures_tasking.py
  tests/fixtures/fixtures_workflow.py
  tests/test_auth.py
Due: mypy

add changelog; bump version
  CHANGELOG.md
  pyproject.toml
Due: none

PR comments
  CHANGELOG.md
  docs/PULL_REQUEST_TEMPLATE.md
  pyproject.toml
  tests/fixtures/fixtures_globals.py
  tests/fixtures/fixtures_tasking.py
  tests/test_tasking.py
Due: mypy

[AT-4967] Drop all live tests (#569)
  .circleci/config.yml
  CHANGELOG.md
  README-dev.md
  docs/PULL_REQUEST_TEMPLATE.md
  pyproject.toml
  pytest.ini
  tests/conftest.py
  tests/fixtures/fixtures_auth.py
  tests/fixtures/fixtures_catalog.py
  tests/fixtures/fixtures_globals.py
  tests/fixtures/fixtures_job.py
  tests/fixtures/fixtures_jobcollection.py
  tests/fixtures/fixtures_jobtask.py
  tests/fixtures/fixtures_project.py
  tests/fixtures/fixtures_tasking.py
  tests/fixtures/fixtures_workflow.py
  tests/test_auth.py
  tests/test_catalog.py
  tests/test_job.py
  tests/test_project.py
  tests/test_tasking.py
  tests/test_workflow.py
Due: mypy, pylint

Settings detection based on credentials
  tests/http/test_oauth.py
  up42/http/config.py
  up42/http/oauth.py
Due: mypy

Version and CHANGELOG.md
  CHANGELOG.md
  pyproject.toml
Due: none

playing with sonar
  .circleci/config.yml
Due: none

attach workspace
  .circleci/config.yml
Due: none

play with restoring cache
  .circleci/config.yml
Due: none

do not persist to workspace
  .circleci/config.yml
Due: none

faster naman faster
  .circleci/config.yml
Due: none

Path conditions:
  mypy: any of: \.py$
  pylint: any of: up42/catalog.py|tests/test_catalog.py and \.py$
